.second-tier {
  margin-bottom: 0px;
  background-color: #F2EFEA;
}

.site-header .navbar-header img {
  vertical-align: middle;
  height: 50px;
  padding: 5px;
}

li a.dropdown-item{
  border-bottom:none;
}

li a.dropdown-item:hover{
  border-bottom:none;
}

li a{
  color:#4c4c4c;
  border-bottom: 5px solid transparent;
}

li a:hover{
  color:#13294b;
  background-image:none;
  border-bottom: 5px solid #13294b;
}

li a:focus{
  color:#13294b;
  background-image:none;
  border-bottom: 5px solid #13294b;
}

button.navbar-toggle {
  border-color:#13294b !important;
}

button.navbar-toggle .icon-bar{
  background-color:#13294b !important;
}

@media (max-width: 768px) {
  .first-tier {
    height: 100px;
  }

  li a:hover{
    color:white;
    border-bottom:none;
    background-color:gray !important;
  }

  li a:focus{
    border-bottom:none;
    background-color:none;
  }

  li a.dropdown-item{
    color:#4c4c4c !important;
  }
}

@media (max-width: 498px) {
  .navbar-brand {
    padding: 0px;
  }
}

.navbar-inverse .navbar-toggle {
  border-color: #ffffff;
}

.navbar-inverse .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
